@using TechJobsPersistent.ViewModels;
@model AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" name="name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId">Choose an employer:</label>
        <select name="EmployerId" class="form-control">
            @foreach (Employer employer in Model.SelectListItem)
            {
                <option value="@employer.Id">@employer.Name</option>
            }
        </select>
        <a asp-controller="Employer" asp-action="Add">If you do not see an employer you are looking for, click here to add it now!</a>
    </div>

    <div class="form-group">
        <label>Select required skills for this job:</label><br />
        @foreach (Skill skill in Model.SelectSkill)
        {
            <input type="checkbox" name="selectedSkills" value="@skill.Id"/>
            <label for="selectedSkills">@skill.Name</label><br />
        }
        <a asp-controller="Skill" asp-action="Add">If you do not see a skill you need, click here to add it now!</a>
    </div>
    <input type="submit" value="Add Job" />
</form>

